
script(src="#{page.static_url}js/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/utils.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/animateCSS/dist/jquery.animatecss.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/libs/floatlabel.js/floatlabels.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/sections/sections.js#{page.version}", type="text/javascript") 
script(src="#{page.static_url}js/sections/#{section}.js#{page.version}", type="text/javascript") 
